<div class=" layout-spacing layout-top-spacing">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-content widget-content-area">
                <div style="padding: 10px 10px 10px 10px;">
                    <mat-card>
                        <div class="row">
                            <div class="col-2">
                                <mat-form-field>
                                    <mat-label>Name:</mat-label>
                                    <input matInput (keyup)="filterTable($event.target.value)">
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <button mat-flat-button color="primary" (click)="openStudentModal()">Add New
                                    Student</button>
                            </div>
                            <div class="col-2">
                                <button mat-flat-button color="primary" (click)="openNewStudentModal()" [hidden]="newStudents.length == 0">View New
                                    Students</button>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="widget-content widget-content-area">
                <mat-card>
                    <table mat-table [dataSource]="dataSource" matSort>

                        <!-- Position Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="patronus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patronus </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.patronus == '' || !element.patronus; else nonePatronus">
                                    <span class="badge outline-badge-danger">
                                        None
                                    </span>
                                </div>
                                <ng-template #nonePatronus>
                                    {{element.patronus}}
                                </ng-template>
                            </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="age">
                            <th mat-header-cell *matHeaderCellDef> Age </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.yearOfBirth == '' || !element.yearOfBirth; else noneYear">
                                    <span class="badge outline-badge-danger">
                                        None
                                    </span>
                                </div>
                                <ng-template #noneYear>
                                    {{element.yearOfBirth | calculateAge}}
                                </ng-template>
                            </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="image">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                            <td mat-cell *matCellDef="let element" style="height: 150px;">
                                <div *ngIf="element.image == '' || !element.image; else noneImg">
                                    <span class="badge outline-badge-danger">
                                        None
                                    </span>
                                </div>
                                <ng-template #noneImg>
                                    <img src="{{element.image}}" style="max-height: 150px; margin: 5px 0px 5px 0px;">
                                </ng-template>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSize]="4" showFirstLastButtons></mat-paginator>
                </mat-card>
            </div>
        </div>
    </div>

</div>

<!-- Seccion del modal de registro de estudiante -->
<div class="modal fade studentModal" #studentModal tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered max-width-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="compose-box">
                    <div class="compose-content content-select">
                        <h5 class="add-task-title">New Student</h5>
                        <form [formGroup]="formStudent">
                            <div class="row">
                                <div class="col-xl-12 col-lg-6 col-md-6 overflow-content">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <mat-form-field>
                                                <mat-label>Name:</mat-label>
                                                <input matInput formControlName="name">
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>Gender:</mat-label>
                                                <select matNativeControl formControlName="gender">
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                </select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <mat-form-field>
                                                <mat-label>Specie:</mat-label>
                                                <input matInput formControlName="species">
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>House:</mat-label>
                                                <select matNativeControl formControlName="house">
                                                    <option value="slytherin">Slytherin</option>
                                                    <option value="gryffindor">Gryffindor</option>
                                                    <option value="ravenclaw">Ravenclaw</option>
                                                    <option value="hufflepuff">Hufflepuff</option>
                                                </select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn add-tsk" type="button" (click)="saveStudent()">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Seccion del modal para mostrar los nuevos estudiantes -->
<div class="modal fade newStudentsModal" #newStudentsModal tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered max-width-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="compose-box">
                    <div class="compose-content content-select">
                        <h5 class="add-task-title">New Students</h5>
                        <div class="col-lg-12">
                            <div class="widget-content widget-content-area">
                                <mat-card>
                                    <table mat-table [dataSource]="dataSourceNewStudents" matSort>

                                        <!-- Position Column -->
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="patronus">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patronus </th>
                                            <td mat-cell *matCellDef="let element">
                                                <div
                                                    *ngIf="element.patronus == '' || !element.patronus; else nonePatronus">
                                                    <span class="badge outline-badge-danger">
                                                        None
                                                    </span>
                                                </div>
                                                <ng-template #nonePatronus>
                                                    {{element.patronus}}
                                                </ng-template>
                                            </td>
                                        </ng-container>

                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="age">
                                            <th mat-header-cell *matHeaderCellDef> Age </th>
                                            <td mat-cell *matCellDef="let element">
                                                <div
                                                    *ngIf="element.yearOfBirth == '' || !element.yearOfBirth; else noneYear">
                                                    <span class="badge outline-badge-danger">
                                                        None
                                                    </span>
                                                </div>
                                                <ng-template #noneYear>
                                                    {{element.yearOfBirth | calculateAge}}
                                                </ng-template>
                                            </td>
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="image">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                                            <td mat-cell *matCellDef="let element" style="height: 150px;">
                                                <div *ngIf="element.image == '' || !element.image; else noneImg">
                                                    <span class="badge outline-badge-danger">
                                                        None
                                                    </span>
                                                </div>
                                                <ng-template #noneImg>
                                                    <img src="{{element.image}}"
                                                        style="max-height: 150px; margin: 5px 0px 5px 0px;">
                                                </ng-template>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>

                                    <mat-paginator [pageSize]="4" showFirstLastButtons></mat-paginator>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>