
/*------list group-----*/
/*
      Icons Meta
  */
.list-group.list-group-icons-meta .list-group-item.active {
    background-color: #888ea8;
}
.list-group.list-group-icons-meta .list-group-item.active .media svg {
    font-size: 27px;
    color: #fff;
}
.list-group.list-group-icons-meta .list-group-item.active .media .media-body h6,
.list-group.list-group-icons-meta .list-group-item.active .media .media-body p {
    color: #fff;
    font-weight: 500;
}

.list-group.list-group-icons-meta .list-group-item .media svg {
    width: 20px;
    color: $mainColor;
    height: 20px;
}

.list-group.list-group-icons-meta .list-group-item .media .media-body h6 {
    color: #3b3f5c;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 1px;
}

.list-group.list-group-icons-meta .list-group-item .media .media-body p {
    color: #3b3f5c;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
}

.list-group.list-group-media .list-group-item.active {
    background-color: #888ea8;
}
.list-group.list-group-media .list-group-item.active .media .media-body h6,
.list-group.list-group-media .list-group-item.active .media .media-body p {
    color: #fff;
    font-weight: 500;
}

.list-group.list-group-media .list-group-item .media img {
    color: $mainColor;
    width: 42px;
    height: 42px;
}

.list-group.list-group-media .list-group-item .media .media-body {
    align-self: center;
}
.list-group.list-group-media .list-group-item .media .media-body h6 {
    color: #3b3f5c;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 1px;
}
.list-group.list-group-media .list-group-item .media .media-body p {
    color: #3b3f5c;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
}

.list-group.task-list-group .list-group-item-action.active {
    background-color: #888ea8;
    color: #fff;
}
.list-group.task-list-group .list-group-item-action.active .new-control.new-checkbox {
    color: #fff;
    font-size: 14px;
}

/*
      Image Meta
  */
/*
      task-list-group
  */
