
.tooltipmxp {
    display: inline;
    position: relative;
    z-index: 999;
  }
  
  .tooltipmxp:hover:after {
    background: rgb(114 35 154);
    border-radius: 5px;
    bottom: 40px;
    color: #fff;
    content: attr(title);
    left: -100px;
    padding: 5px 15px;
    position: absolute;
    z-index: 999968;
    width: 170px;
    text-transform: capitalize;
    font-weight: normal;
    text-align: center;
  }
  
  
  .tooltipmxp-calendar:hover:after {
    left: -126px;
    width: 285px;
    bottom: 20px;
    text-align: center;
  }
  
  .tooltipmxp:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0px 6px;
    top: -5px;
    content: "";
    left: 32%;
    position: absolute;
    z-index: 99;
  }
  
  .tooltipmxp-calendar:hover:before {
    top: -5px;
    left: 0%;
  }
