.pagination-no_spacing {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.pagination-no_spacing .prev {
    background-color: #e0e6ed;
    border-radius: 50%;
    padding: 10px 11px;
    margin-right: 5px;
}

.pagination-no_spacing .prev:hover {
    background-color: #1b55e2;
}

.pagination-no_spacing .prev:hover svg {
    color: #fff;
}

.pagination-no_spacing .next {
    background-color: #e0e6ed;
    border-radius: 50%;
    padding: 10px 11px;
    margin-left: 5px;
}

.pagination-no_spacing .next:hover {
    background-color: #1b55e2;
}

.pagination-no_spacing .next:hover svg {
    color: #fff;
}

.pagination-no_spacing .prev svg,
.pagination-no_spacing .next svg {
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
}

.pagination-no_spacing .pagination {
    margin-bottom: 0;
}

.pagination-no_spacing li {
    background-color: #e0e6ed;
    padding: 10px 0;
    font-weight: 600;
    color: #3b3f5c;
}

.pagination-no_spacing li:first-child {
    /* border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;*/
}

.pagination-no_spacing li:last-child {
    /* border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;*/
}

.pagination-no_spacing li a {
    padding: 10px 15px;
    font-weight: 600;
    color: #3b3f5c;
}

.pagination-no_spacing li a.active {
    background-color: #1b55e2 !important;
    color: #fff;
}

.pagination-no_spacing li a.active:hover {
    color: #fff;
}

.pagination-no_spacing li a:hover {
    color: #1b55e2;
}