<div style="padding-top: 10px;">
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="changeTab($event)">
    <mat-tab label="Personages"></mat-tab>
    <mat-tab label="Students"></mat-tab>
    <mat-tab label="Teachers"></mat-tab>
  </mat-tab-group>
</div>

<main>
  <router-outlet></router-outlet>
</main>
