<div class=" layout-spacing layout-top-spacing">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-content widget-content-area">
                <div style="padding: 10px 10px 10px 10px;">
                    <mat-card>
                        <div class="row">
                            <div class="col-2">
                                <mat-form-field>
                                    <mat-label>Name:</mat-label>
                                    <input matInput (keyup)="filterTable($event.target.value)">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="widget-content widget-content-area">
                <mat-card>
                    <table mat-table [dataSource]="dataSource" matSort>

                        <!-- Position Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="patronus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patronus </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.patronus == '' || !element.patronus; else nonePatronus">
                                    <span class="badge outline-badge-danger">
                                        None
                                    </span>
                                </div>
                                <ng-template #nonePatronus>
                                    {{element.patronus}}
                                </ng-template>
                            </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="age">
                            <th mat-header-cell *matHeaderCellDef> Age </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.yearOfBirth == '' || !element.yearOfBirth; else noneYear">
                                    <span class="badge outline-badge-danger">
                                        None
                                    </span>
                                </div>
                                <ng-template #noneYear>
                                    {{element.yearOfBirth | calculateAge}}
                                </ng-template>
                            </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="image">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                            <td mat-cell *matCellDef="let element" style="height: 150px;">
                                <div *ngIf="element.image == '' || !element.image; else noneImg">
                                    <span class="badge outline-badge-danger">
                                        None
                                    </span>
                                </div>
                                <ng-template #noneImg>
                                    <img src="{{element.image}}" style="max-height: 150px; margin: 5px 0px 5px 0px;">
                                </ng-template>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSize]="4" showFirstLastButtons></mat-paginator>
                </mat-card>
            </div>
        </div>
    </div>

</div>